<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />

    <title>React App</title>
  </head>
  <body style="margin: 0px;padding: 0px;background: #7159c1;height:1403px;width: 100vw;display: flex;">
    sdf
  </body>
</html>
